---
layout: "baseof.njk"
title: "Happy Birthday, Tiff"
---

<div class="top-container">
  <div class="markdown md:w-2/3 md:px-4">
    <h1 class="font-serif text-4xl mb-6">Happy Birthday, Tiff</h1>
    <p class="text-xl">
      I wanted to do something a little different for you for your birthday this
      year after you worked so hard utilizing your sewing skills to put together
      that bag for me for my birthday, and I figured what better way than
      putting my web dev skills to use to make something for you...
    </p>
    <h2 class="font-bold text-2xl mb-6">
      For the love we share for each other (and for food)...
    </h2>
    <p>
      I know we both love a utilitarian gift. This website is something that I
      hope will always remind us of the love we have for each other while also
      being useful as we continue to engage in our shared love of cooking and
      food.
    </p>
    <p>
      It's something that I hope will be there as a reference and as a history
      of the meals we've enjoyed making and eating together, our own personal
      cookbook to chronicle the myriad of recipes you've come up with on the
      fly, or the ones that we've tweaked and honed and modified and made our
      own, and even the classics that we probably know by heart anyways because
      maybe one day when we're old and our brains are totally fried, we'll be
      thankful for the reminders here.
    </p>
    <p>
      As an added plus, I wanted to record some of our favorites that we've
      gleaned from across the internet in one convenient spot without the ads or
      the weird design choices or the paragraphs of SEO vomit that comes along
      for most cooking blogs, hopefully something that doesn't require
      simplified view to be able to look at.
    </p>
    <p>
      I hope you like it, and I hope we can revise and record more as we
      continue growing together.
    </p>
    <p class="font-serif text-lg text-right italic">Love, always<br />Laura</p>
  </div>
</div>
