---
layout: "baseof.njk"
title: "Happy Birthday, Tiff"
---

<div class="top-container">
  <div class="markdown md:w-2/3 md:px-4">
    <h1 class="font-serif text-4xl mb-6">Happy Birthday, Tiff</h1>
    <p class="font-serif text-xl">
      I wanted to do something a little different for you for your birthday this
      year after you worked so hard utilizing your sewing skills to put together
      that bag for me for my birthday, and I figured what better way than
      putting my web dev skills to use to make something for you...
    </p>
    <h2 class="font-serif text-2xl mb-6">
      For the love we share for each other (and for food)...
    </h2>
    <p>
      I know we both love a utilitarian gift. This website is something special
      that I hope will remind us of the love we have for each other while also
      hopefully finding a useful place in our lives.
    </p>
  </div>
</div>
