---
layout: "baseof.njk"
title: "All Recipes | Tiff & Laura's Favorite Recipes"
---

<div class="top-container">
  <div>
    <h2 class="top-header">All Recipes</h2>
    <ul class="flex flex-wrap">
      {% for item in collections.recipe %}
      <li class="md:w-1/2 md:p-2 h-full relative">
        {% include "recipeList.njk" %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
