---
layout: "baseof.njk"
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
title: "Post in {{ tag }} | Tiff & Laura's Favorite Recipes"
---

<div class="top-container">
  <div class="bg-gray-50 shadow p-4 md:p-8 mb-8 markdown">
    <h1 class="top-header text-center">Tagged “{{ tag }}”</h1>

    {% set taglist = collections[ tag ] %}
    <ul class="">
      {% for item in taglist | reverse %}
      <li class="">
        <a href="{{ item.url }}">
          {{ item.data.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
