---
layout: "baseof.njk"
title: "Post in {{ tag }} | Tiff & Laura's Favorite Recipes"
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
---

<div class="top-container">
  <div>
    <h1 class="top-header">Tagged “{{ tag }}”</h1>

    {% set taglist = collections[ tag ] %}
    <ul class="flex flex-wrap">
      {% for item in taglist | reverse %}
      <li class="md:w-1/2 md:p-2 h-full relative">
        {% include "recipeList.njk" %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
