<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta
      name="description"
      content="{% if summary %}{{
        summary
      }}{% else %}A personal reference and chronicle for this queer couple's favorite vegan recipes.{% endif %}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@0;1&family=Raleway:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>

  <body
    class="text-2xl text-gray-100 font-serif background flex flex-col min-h-screen justify-between leading-relaxed"
  >
    <nav
      class="font-serif bg-gray-800 shadow md:px-8 px-4 py-2 flex flex-row flex-wrap justify-between items-center sticky top-0 z-20 text-base mb-8"
    >
      <span class="italic p-1 mb-0 w-1/2 leading-none">
        <a href="/"
          >Vegan Home Cooking <br /><span class="text-xs"
            >by Tiff & Laura</span
          ></a
        >
      </span>
      <ul class="flex flex-row flex-wrap w-1/2 justify-end">
        <li class="p-1">
          <a href="/recipes/">Recipes</a>
        </li>
        <li class="p-1">
          <a href="/about/">About</a>
        </li>
      </ul>
    </nav>
    <main>
      {{ content | safe }}
    </main>
    <footer class="w-full p-8 bg-gray-800">
      <p class="text-2xl italic font-serif text-center block">
        For all the love, all the growth, and all the food we've shared across
        the years...
      </p>
    </footer>
  </body>
</html>
