---
layout: "baseof.njk"
---

<article class="top-container max-w-screen-sm md:max-w-screen-md">
  <header class="w-full p-8 bg-orange-700 text-gray-100">
    <h1 class="font-display mb-2">
      {{ title }}
    </h1>
    <p class="mb-2">{{ summary }}</p>
    {% if source %}
    <a
      href="{{ source }}"
      rel="noopener noreferrer"
      target="_blank"
      class="italic text-lg inline-block mb-4 border-b-2 border-orange-800"
      >Original Recipe</a
    >
    {% endif %}
  </header>
  {% if youtubeId %}
  <div class="w-full">
    <iframe
      class="h-56 md:h-64 w-full mx-auto"
      src="https://www.youtube.com/embed/{{ youtubeId }}"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
  {% endif %}
  <section class="markdown p-8">
    {% if featureImg %}
    <img src="{{ featureImg }}" class="mb-6 h-64 w-full mx-auto object-cover" />
    {% endif %} {% if item.data.featureImgAttr %}
    <a
      rel="noopener noreferrer"
      target="_blank"
      class="italic inline-block mr-2"
      href="{{ item.data.featureImgAttr }}"
      >Image Credit</a
    >
    {% endif %}
    {{ content | safe }}
  </section>
</article>
